#page_wrapper .header.transparent {
    background-color: transparent !important;
}

.header .logo {
	margin: 0 0 0 24px;
}

.header .logo a.brand img {
	max-height: 100%;
}

.header nav.primary_nav ul li a {
	font-size: 16px;
	line-height: 22px;
	margin: 0 15px;
	padding: 5px 0;
}

.header nav.primary_nav ul li:first-child a {
	margin-left: 0;
}

.header nav.primary_nav ul li:last-child a {
	margin-right: 0;
}

.header nav.primary_nav ul li.book-now-link a {
	background: black;
    padding: 15px 45px;
    font-size: 14px;
    line-height: 20px;
}

.header nav.primary_nav ul li.book-now-link a:before {
	content: none;
}

.header nav.primary_nav ul li a:before {
	background: white;
    height: 2px;
}

.content_titles {
    display: none;
}