.content_main>.container-fluid{
	padding-right: 0px !important;
    padding-left: 0px !important;
}

#page_wrapper .header.transparent {
    background-color: transparent !important;
}

.header .logo {
	margin: 0 0 0 24px;
}

.header .logo a.brand img {
	max-height: 100%;
}

.header nav.primary_nav ul li a {
	font-size: 16px;
	line-height: 22px;
	margin: 0 15px;
	padding: 5px 0;
}

.header nav.primary_nav ul li:first-child a {
	margin-left: 0;
}

.header nav.primary_nav ul li:last-child a {
	margin-right: 0;
}

.header nav.primary_nav ul li.book-now-link a {
	background: black;
    padding: 15px 45px;
    font-size: 14px;
    line-height: 20px;
}

.header nav.primary_nav ul li.book-now-link a:before {
	content: none;
}

.header nav.primary_nav ul li a:before {
	background: white;
    height: 2px;
}

.pre-primary-menu {
	position: relative;
	float: right;
	top: 35px;
	margin-right: -14px;
}

.pre-primary-menu .png-img {
	 height: 22px;
	 background-repeat: no-repeat;
}

.pre-primary-menu ul li a {
	display: block;
}

.pre-primary-menu .book-now-btn a{
	background-color: #000;
	color: #fff;
	padding: 20px 30px;
	font-size: 16px;
	position: relative;
	top: -5px;
}

.pre-primary-menu ul {
	padding: 0;
    margin: 10px 0 0;
	line-height: 0;
	list-style-type: none;
}

.pre-primary-menu li{
	display: inline-block;
	margin-right: 20px;
}

.pre-primary-menu li:last-child {
	margin-right: 0;
	margin-left: 20px;
}

.pre-primary-menu .fb {
	background-image: url(images/header_facebook.svg);
	width: 11px;
}

.pre-primary-menu .twitter {
	background-image: url(images/header_twitter.svg);
	width: 28px;
}

.pre-primary-menu .insta {
	background-image: url(images/header_instagram.svg);
	width: 22px;
}

.main_nav_wrapper {
	top: 75%;
}

a.menu-toggler span.title {
	padding-right: 48px;
	font-size: 16px;
    letter-spacing: 4px;
}

.toggler_and_tools {
	top: 38%;
}

a.menu-toggler span.lines, a.menu-toggler span.lines:before, a.menu-toggler span.lines:after{
	height: 2px;
}

.inner-pages-bg .text-center{
	position: relative !important;
	top: 300px !important;
	margin: 0 !important;
}

.inner-pages-bg{
	height: 550px !important;
}

.main_nav_wrapper > .primary_nav.hidden_on_header_stuck {
	padding-right:0 !important
}

@media (min-width: 992px) {
	.toggler_and_tools{
		display: none;
	}
}

@media (max-width: 992px) {
	.toggler_and_tools{
		display: block;
	}
	.main_nav_wrapper{
		display: none;
	}
}

@media (max-width: 480px) {
	.pre-primary-menu li{
		display: none;
	}
	.pre-primary-menu li:last-child{
		display: inline-block;
	}
	.pre-primary-menu{
		top: 87px;
		margin-right: -17px;
	}
}