.slider-left {
	padding: 0;
}

.slider-left .owl-nav,
.slider-left .owl-dots {
	display: none;
}

.owl-theme .owl-nav {
	margin-top: 0;
}

.content-carousel {
	padding: 0 50px;
}

.owl-theme .owl-dots {
	text-align: left;
}

.owl-theme .owl-dots .owl-dot:hover span,
.owl-theme .owl-dots .owl-dot span {
	margin: 5px;
	background: white;
	border: 2px solid #a3a3a3;
}

.owl-theme .owl-dots .owl-dot:first-child span {
	margin-left: 0;
}

.owl-theme .owl-dots .owl-dot.active span {
	background: black;
	border: 2px solid #000;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
	background: url(images/next.svg);
    background-repeat: no-repeat;
    text-indent: -9999px;
    margin: 0;
    padding: 0;
    width: 10px;
    height: 20px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
}

.owl-carousel .owl-nav .owl-prev:hover,
.owl-carousel .owl-nav .owl-next:hover {
	background: url(images/next.svg);
}

.owl-carousel .owl-nav .owl-next {
	right: -50px;
}

.owl-carousel .owl-nav .owl-prev {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	left: -50px;
}

.content-carousel-parent {
	display: flex;
  	flex-direction: column;
  	justify-content: center;
}

.tour-category {
	font-size: 14px;
	line-height: 20px;
	font-style: italic;
	color: #2a2a2a;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.tour-title {
	font-family: 'LibreBaskerville-Regular';
    font-weight: 400;
	font-size: 32px;
	line-height: 40px;
	color: #2a2a2a;
	text-transform: capitalize;
	margin: 0;
}

.leaf-image {
	display: block;
    width: 48px;
    margin: 30px 0 40px;
}

.tour-description {
	color: #2a2a2a;
	font-size: 16px;
    line-height: 30px;
}

.tour-additional-info {
	margin-top: 35px;
}

.tour-additional-info .tour-price {
	font-size: 24px;
	line-height: 30px;
	color: #191919;
	font-style: italic;
}

.tour-additional-info .tour-price span {
	font-size: 16px;
	line-height: 22px;
	color: #656565;
}

.tour-buttons {
	margin-top: 50px;
}

.tour-buttons a:first-child {
	margin-right: 15px;
}

.bordered-button,
.filled-button {
	font-size: 18px;
	line-height: 24px;
}

.filled-button {
	display: inline-block;
	background: #191919;
	color: white;
	padding: 20px 30px;
}

.filled-button:hover {
	color: white;
}

.bordered-button {
	display: inline-block;
	background: white;
	border: 2px solid #191919;
	color: #191919;
	padding: 18px 40px;
}

.bordered-button:hover {
	color: #191919;
}

.visible-below-1200 {
	display: none !important;
}

@media (min-width: 1200px) {
	.slider-left img {
		height: 560px;
		object-fit: cover;
	}
}

@media (max-width: 1400px) {
	.leaf-image {
	    margin: 20px 0;
	}
	.tour-additional-info {
	    margin-top: 20px;
	}
	.tour-buttons {
	    margin-top: 40px;
	}
	.bordered-button {
		padding: 13px 25px;
	}
	.filled-button {
		padding: 15px 25px;
	}
	.bordered-button,
	.filled-button {
		font-size: 16px;
	}
}

@media (max-width: 1200px) {
	.visible-below-1200 {
		display: block !important;
	}
	.hide-below-1200 {
		display: none !important;
	}
	.slider-left,
	.content-carousel-parent {
		display: block;
		width: 100%;
	}
	.content-carousel {
	    padding: 50px;
	}
}

@media (max-width: 767px) {
	.owl-theme .owl-nav {
		display: none;
	}
	.content-carousel {
	    padding: 50px 20px 35px;
	}
	.tour-buttons a:first-child {
	    margin-right: 15px;
	    margin-bottom: 15px;
	}
}