.background-image-section{
	background-image: url('css/images/homepage-background.jpg');
	height: 800px;
	background-size: cover;
	background-position: center;
	position: relative;
}

.content_main{
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.home .container-fluid{
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.background-description .textbox h1 {
	font-family: 'LibreBaskerville-Italic';
    font-size: 50px;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 400;
    line-height: 60px;
    margin: 0;
}

.background-description .textbox{
	position: absolute;
	top: 50%;
	margin-top: -60px;
}
.toggler_and_tools{
	display: none;
}

.welcome-section {
	padding: 60px 0 80px;
}

.welcome-section .leaf-image {
	margin: 70px auto 50px;
}

.welcome-section .button-wrapper {
	margin-top: 40px;
    text-align: center;
}
